.note-box {
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all ease 0.4s;
  text-align: left;
  width: 15vw;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.note-box:hover {
  background-color: darkorange;
}

.note-box:active {
  scale: 0.88;
}

.note-display {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title-preview {
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;
}

.display-container {
  display: flex;
  flex-direction: column;
  border: solid white 0.5px;
  height: 95vh;
  border-radius: 10px;
}

.delete .save .new-note {
  margin-top: 20rem;
  text-align: center;
  max-width: 2rem;
  align-items: center;
  transition: all 0.4s ease;
}

.new-note:hover {
  color: green;
  border: solid green 1px;
}

.save:hover {
  color: blue;
  border: solid blue 1px;
}

.delete:hover {
  color: red;
  border: solid red 1px;
}
